<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiynn.dynamic.datasource.mapper.TRoleMapper">
    <select id="findRoleById" resultType="tRole">
        select * from t_role where id = #{id}
    </select>
    <insert id="insertRole">
        insert into t_role(name) values("guest")
    </insert>
</mapper>
