<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiynn.dynamic.datasource.mapper.TUserMapper">
    <select id="findUserById" resultType="tUser">
        select * from t_user where id = #{id}
    </select>
    <insert id="insertUser" parameterType="tUser">
        INSERT INTO test1.t_user(account, password, username)
        VALUES (#{account},
        #{password},
        #{username})
    </insert>
    <update id="updatetUser" parameterType="tUser">
        update test1.t_user
        <set>
            <if test="account != null and account != '' ">
                account = #{account},
            </if>
            <if test="password != null and password != '' ">
                password = #{password},
            </if>
            <if test="username != null and username != '' ">
                username = #{username},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="findUserAll" resultType="tUser">
        select * from t_user
    </select>
</mapper>
